/* 预设基底色：鸢尾蓝 http://zhongguose.com/#yuanweilan */

html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#__nuxt {
  display: flex;
  flex-direction: column;
}

html.dark {
  color-scheme: dark;
}
