:root {
  --c-bg: #c6e6e8; /* 海天蓝 http://zhongguose.com/#haitianlan */ 

  --c-logo: #158bb8;

  --c-left-divider: rgba(60, 60, 67, 0.12);

  --layout-header-height: 3.75rem;

  --project-card-hover: #23232333;
}

.dark {
  --c-bg: #21373d;
  
  --project-card-hover: #ffffff22;

}